@{
    ViewBag.Title = "ActividadPage";

    List<HMandiola2.Data.sproc_hoteles_GetActividad_Result>
    listaActividades;
    HMandiola2.Data.sproc_hoteles_GetActividad_Result actividad = null;

    if (ViewData["listaActividades"] != null)
    {
    listaActividades = ViewData["listaActividades"] as List<HMandiola2.Data.sproc_hoteles_GetActividad_Result>
        ;

        for (int x = 0; x < listaActividades.Count(); x++)
        {
        actividad = listaActividades[x];
        break;
        }
        }
        }
        <div align="center">
            <div class="container divForm col-md-offset-4 col-md-5 text-center mediumContainer">
                <div class="row ">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h1>
                            <bold>
                                Actividad
                            </bold>
                        </h1>
                    </div>
                    <div class="col-md-10 col-md-offset-1 text-left ">
                        @{
                        if (actividad != null)
                        {
                        <h6>
                            Nombre
                        </h6>
                        <input type="text" class="form-control col-lg-12 col-md-12 col-xs-12" id="nombre" value="@actividad.Nombre">
                        <br>

                        <h6>
                            Descripcion
                        </h6>
                        <input type="text" class="form-control col-lg-12 col-md-12 col-xs-12" id="descripcion" value="@actividad.Descripcion">
                        <br>

                        <h6>
                            Cupo
                        </h6>
                        <input type="text" class="form-control col-lg-12 col-md-12 col-xs-12" id="cupo" value="@actividad.cupo">
                        <br>

                        <h6>
                            Espacios disponibles
                        </h6>
                        <input type="text" class="form-control col-lg-12 col-md-12 col-xs-12" id="espaciosdisponibles" value="@actividad.EspaciosDisponibles">
                        <br>




                        <input type="file" name="file" id="profile-img" onchange="encode();">
                        <img src="@actividad.Imagen" id="loadImage" style="height:200px; width:200px;">
                        <input type="hidden" id="image64" name="image64" value="@actividad.Imagen">
                        <input type="hidden" id="idactividad" name="idactividad" value="@actividad.ID_Actividad">

                        }
                        else
                        {
                        <h6>
                            Nombre
                        </h6>
                        <input type="text" class="form-control col-lg-12 col-md-12 col-xs-12" id="nombre">
                        <br>

                        <h6>
                            Descripcion
                        </h6>
                        <input type="text" class="form-control col-lg-12 col-md-12 col-xs-12" id="descripcion">
                        <br>

                        <h6>
                            Cupo
                        </h6>
                        <input type="number" class="form-control col-lg-12 col-md-12 col-xs-12" id="cupo">
                        <br>

                        <h6>
                            Espacios disponibles
                        </h6>
                        <input type="number" class="form-control col-lg-12 col-md-12 col-xs-12" id="espaciosdisponibles">
                        <br>

                        <input type="file" name="file" id="profile-img" onchange="encode();">
                        <img src="" id="loadImage" style="height:200px; width:200px;">
                        <input type="hidden" id="image64" name="image64">
                        <input type="hidden" id="idactividad" name="idactividad">
                        }
                        }
                        <button type="submit" id="saveButton" name="saveButton" value="saveButton"
                                class="btn btn-primary btn-xl col-lg-12 col-md-12 col-xs-12" style="margin-bottom:100px;">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Evento que envía una petición Ajax al servidor
            $('#saveButton').click(function (e) {


                var actividad = {
                    ID_Actividad: $('#idactividad').val(),
                    Nombre: $('#nombre').val(),
                    Descripcion: $('#descripcion').val(),
                    Cupo: $('#cupo').val(),
                    EspaciosDisponibles: $('#espaciosdisponibles').val(),
                    Imagen: $('#image64').val()
                };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("insertarActividad", "Actividad")',
                    processData: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(actividad),
                    success: function (response) {
                        if (response.Success == true) {
                            alert('Actividad creado correctamente!!');
                            location.href = "@Url.Action("Index", "Actividad")";
                        } else {
                            alert('Ha ocurrido un problema, intentalo mas tarde!!');
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                    }
                });
            });



            function encode() {
                var selectedfile = document.getElementById("profile-img").files;

                var imageFile = selectedfile[0];
                var fileReader = new FileReader();
                fileReader.onload = function (fileLoadedEvent) {
                    var srcData = fileLoadedEvent.target.result;
                    var newImage = document.createElement('img');
                    newImage.src = srcData;
                    document.getElementById("image64").value = newImage.outerHTML;

                    $('#loadImage').attr('src', fileLoadedEvent.target.result);
                }

                fileReader.readAsDataURL(imageFile);
            }

        </script>
